/* font-family: 'Edu VIC WA NT Beginner', cursive;
font-family: 'Roboto', sans-serif; */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.main-container {
    background-color: burlywood;
    height: 100%;
}
h1 {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
p {
    font-family: 'Roboto', sans-serif;
}